body{
    background-color: black;
    color:#FFFFFF;
}
h1{
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    font-family: 'Lobster', cursive;
    font-size: 5em;
}
h3{
    font-family: 'Assailand', sans-serif;
    font-size: 1.5em;
}
img {
    opacity: 0.5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.rounded{
  border-radius: 2rem;
}
.icons{
  font-size: 2em;
  padding: 5px;
  position: absolute; 
  right:15%;
}
