@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
body{
    background-color: black;
    color:#FFFFFF;
}

h1{
  font-family: 'Quintessential', cursive;
  font-size: 6em;
}
h3{
    font-family: 'Assailand', sans-serif;
    font-size: 1.5em;
}
img {
    opacity: 0.5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.contato{
  margin-top: 650px;
  float:left;
}

