body{
    background-color: black;
    color:#FFFFFF;
}
h1{
    font-family: 'Rouge Script', sans-serif;      
    font-size: 5em;
}
h3{
    font-family: 'Assailand', sans-serif;
    font-size: 1.5em;
}
img {
    opacity: 0.5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.contato{
  margin-top: 650px;
  float:left;
}

